.introduction{
    background-color:white;
    padding:1px;
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}
.intro_margin {
    height:auto;
    margin:50px;
    text-align: center;
    padding:50px;
    margin-top:10px;
    margin-bottom: 15px;
    color:white;
    z-index: 2;

}

.intro_heading {
    color:rgb(253, 6, 68);
}
@media only screen and (max-width: 768px) {
    /* For web: */
        [class*="intro_margin"]{
          margin:10px;
          padding:15px;
        }
        [class *="introduction"]{
            padding:0px;
        }
  }