.introduction{
    background-color:white;
    padding:1px;
    background:
linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
background-size: 3900px 2000px;
background-color: #EC173A;
}
.intro_margin {
    height:auto;
    margin:50px;
    text-align: center;
    padding:50px;
    margin-top:10px;
    margin-bottom: 15px;
    color:black;
    z-index: 2;

}

.intro_heading {
    color:rgb(253, 6, 68);
}
@media only screen and (max-width: 768px) {
    /* For web: */
        [class*="intro_margin"]{
          margin:10px;
          padding:15px;
        }
        [class *="introduction"]{
            padding:0px;
            background-size: 1000px 1000px;

        }
  }