.quote {
    height: auto;
    width:50%;
    margin:0 auto;
    background-image: linear-gradient(45deg,#FF00BF,#0080FF);
    margin-top:70px;
    border-radius: 30px;
    color:white;
}
.quote:hover {
    border: 1px solid black;
}
.quote_thoughts {
    width:70%;
    height:auto;
    padding:50px;
    margin:0 auto;
    font-size:x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="quote"] {
      width: 80%;
    }
    [class*="quote_thoughts"] {
       padding: 25px;
        }
  }