.data{
    display: flex;
}
.data_info {
    margin-top:50px;
    margin-left:50px;
    width:500px;
    line-height: 1.5;
}
.data_image{
    margin-left:50px;
    margin-top:10px;
}
.data_button {
    padding:10px;
    margin:5px;
    text-align: center;
    background-image: linear-gradient(45deg,#FF00BF,#0080FF);
    color:white;
    border:0px solid black;
    border-radius: 10px;
}
.data_button_center{
    padding:10px;
    margin:5px;
    text-align: center;
    background-color:white;
    color:#B40431;
    border:0.9px solid black;
    border-radius: 10px;
}
.data_button:focus {
    outline:0;
}
.data_button:hover {
    background-color: white;
    border:0.9px solid black;
    border-radius: 10px
}
.data_button_center:hover {
    color:white ;
    border:0px;
}
.data_link {
    text-decoration: none;
    color:white;
}
.data_link:hover {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="data"] {
      display: block;
      align-items: center;
      text-align: center;
    }
    [class*="data_info"]{
        width:100%;
        margin-left:0px;
    }
    [class*="data_buttons"]{
        display:flex;
        margin-left:25px;
    }
}
/*                    <button className="data_button_center" onClick={onHireMeClick}>Hire as a Mentor</button> 
*/