.ham_button {
    height:auto;
    width:100%;
    padding: none;
    background-color: white;
    color:black;
    text-align:center;
    border:0px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:large;
}
.ham_button:hover {
    color:crimson;
  }
.hamburger {
    margin-right:20px;
    border-bottom: solid 1px crimson;
    
}