.nav-items {
    text-decoration: none;
}
.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  .link {
    float: right;
  }
  
  .navigation_button {
    height:auto;
    width:100px;
    padding: none;
    background-color: transparent;
    color:black;
    text-align:center;
    border:0px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    padding-left:50px;
    text-decoration: none;
    font-size:large;
  }
  .navigation_button:hover {
   color:rgb(253, 6, 68);
    }
    .navigation_button:focus{
      outline:0px;
    }

  .nav_font {
    color:rgb(253, 6, 68);
  }
  .nav_ham_button {
    height:auto;
    padding: none;
    background-color: transparent;
    color:black;
    text-align:center;
    border:0px;
    display: block;
    text-align: center;
    text-decoration: none;
    transform: rotate(180);
  }
  
  .logo {
      float:left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      padding-left:50px;
      text-decoration: none;
      font-size: x-large;
  }
  #hamburger {
    float: right;
  }
  .nav_ham_button:focus{
    outline:0px;
}

 @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="logo"] {
        width: auto;
        }
        [class*="navigation_button"]{
          display: none;
        }
  }
  @media only screen and (min-width: 768px) {
    /* For web: */
        [class*="nav_ham_button"]{
          display: none;
        }
  }