.contact {
    height:600px;
    width:400px;
    background-color: transparent;
    border:2.5px solid #0e2d3b;
    border-radius:25px;
    margin:0 auto;
    margin-top:25px;
}
.contact_image {
    height:400px;
    width:90%;
    background-color: transparent;
    margin:0 auto;
    margin-top:10px;
    background-image: url('./devesh.jpeg');
    background-size: cover;
}
.contact_empty {
    height:25px;
    width:97%;
    background-color: transparent;
    margin:0 auto;
    border-bottom: 1px solid #0e2d3b;
}